<% provide(:title, @user.name) %>

<div class="row">
  <section class="center">
    	<h1>
			  <%= gravatar_for @user %><br>
			  <%= @user.name %> 		
			</h1><br>

      <!-- <h2><%= @user.name %>&rsquo;s heros</h2> -->
      <ul>
        <%= form_tag(default_hero_user_path, :method=>'post') do %>
            <%= text_field_tag "name", @user.default_hero.try(:name), :placeholder => "Hero name" %><br>
            <%= submit_tag 'Set hero', class: "btn btn-large btn-primary"  %>
        <% end %>
      </ul>
      <ul>
        <% @user.heros.each do |hero| %>
          <span id="hero_name"><li><h1><%= hero.name %></h1></li></span>
        <% end %>
      </ul>
  </section>
  <hr>  <br>
	<aside class="span4">
		<section>
      <ul class= "box_qv">
        <% @youtube_news.each do |item| %>
            <li>
              <% you_tube_presenter_for(item) do |presenter| %>
                  <span class="videos center">
                   <%= link_to image_tag(presenter.thumbnail_url), presenter.video_url, :class=> "fancyboxv"  %>
                  </span>
                  <%= presenter.title %>
                  <span class="timestamp">
                   Posted <%= time_ago_in_words(presenter.published_date) %> ago
                  </span> 
                  
                  <!-- Updated <%= time_ago_in_words(presenter.updated_date) %> ago -->
                  <!-- <%= link_to "Watch", presenter.video_url %> -->
              <% end %>
            </li>
        <% end %>
      </ul>
		</section>
	</aside>
	<aside class="span4">
		<section>
      <ul class="box_qa">
			<% @hero_news.each do |item| %>
				<li>
				<%= item["webTitle"] %> <%= link_to "Read more!", item["webUrl"], :class=> "fancybox"%>
				<span class="timestamp">
				 Posted <%= time_ago_in_words(item["webPublicationDate"])%> ago.
				</span>
				</li>
			<% end %>
      </ul>    
		</section>
	</aside>
</div>

<script>
  $(document).ready(function(){
   $("a.fancyboxv").click(function() {
    $.fancybox({
     'transitionIn'   : 'none',
     'transitionOut'  : 'elastic',
     'width'          : '680',
     'height'         : '510',
     'href'           : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'), //this is where autoplay would go
     'type'           : 'iframe',
     'swf'            : {
       'wmode'           : 'transparent',
       'allowfullscreen' : 'true'
      }
    }); // fancybox
    return false;
   }); // click
  }); //  ready
</script>

<script>
$(document).ready(function(){
 $("a.fancybox").fancybox({
	'transitionIn': 'fade',
    'transitionOut': 'fade',
    'width': '640',
    'height': '480',
	'type': 'iframe'
	
	
	});
});
</script> 
