<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
			  <%= gravatar_for @user %><br>
			  <%= @user.name %> 		
			</h1>

      <h2><%= @user.name %>&rsquo;s heros</h2>
      <ul>
        <% @user.heros.each do |hero| %>
          <li><%= hero.name %></li>
        <% end %>
      </ul>
      
      <ul>
        <%= form_tag(default_hero_user_path, :method=>'post') do %>
            <%= label_tag "Name" %>
            <%= text_field_tag "name", @user.default_hero.try(:name) %>
            <%= submit_tag 'Set hero', class: "btn btn-large btn-primary"  %>
        <% end %>
      </ul>

      <ul class="box_qa">
			<% @hero_news.each do |item| %>
				<li>
				<%= item["webTitle"] %> <%= link_to "Read more!", item["webUrl"], :class=> "fancybox"%>
				<span class="timestamp">
				 Posted <%= time_ago_in_words(item["webPublicationDate"])%> ago.
				</span>
				</li>
			<% end %>
      </ul>

      <ul>
        <% @youtube_news.each do |item| %>
            <li>
              <% you_tube_presenter_for(item) do |presenter| %>
                  <%= image_tag(presenter.thumbnail_url) %>
                  <%= presenter.title %>
                  Published <%= time_ago_in_words(presenter.published_date) %> ago
                  Updated <%= time_ago_in_words(presenter.updated_date) %> ago
                  <%= link_to "View", presenter.video_url %>
              <% end %>
            </li>
        <% end %>
      </ul>
    
		</section>
	</aside>
</div>

<script>
$(document).ready(function(){
 $("a.fancybox").fancybox({
	'transitionIn': 'fade',
    'transitionOut': 'fade',
    'width': '640',
    'height': '480',
	'type': 'iframe'
	
	
	});
});
</script> 
